<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analysis.count_of_words %></h2>

<h2>Vowels: <%= @analysis.count_of_vowels %></h2>

<h2>Consonants: <%= @analysis.count_of_consonants %></h2>

<h2>Most Common Letter: <%= @analysis.most_used_letter.keys.each{|x| x}[0].capitalize %>, used <%= @analysis.most_used_letter.values.each{|x| x}[0].to_i %> times</h2>
